<!DOCTYPE html>

<html>

<head>
  {% load static %} 
  <link href="{% static 'bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'login.css' %}" rel="stylesheet">
</head>

<body>

  <main class="form-signin w-100 m-auto">
    
    <form action="login" method="post">
      <!-- {% csrf_token %} -->
      <!-- <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
      <h1 class="h3 mb-3 fw-normal">请登录</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="username">
        <label for="floatingInput">用户名</label>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        <label for="floatingPassword">密码</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>

      <button class="w-100 btn btn-primary" type="submit">登录</button>

      <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
  
    </form>
  
  </main>

  <script src="{% static 'bootstrap.bundle.min.js' %}" ></script>
</body>

</html>
